In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/20180311napirefinal.csv')
df.head(1)

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,output_mode,javascript,flash,session_id,language,cleaned,ats,datetime,date_of_last_access,date_of_first_mail
0,30,0,no tester,Completed after break (32),2401447,NotShown,-1,English,Japan,7,...,HTML,NotShown,NotShown,3a1b6fc2441d6f495dc0b72add06fd75,English,Not cleaned,1507166042,2017-10-05 01:14:02,2017-10-05 11:53:49,0000-00-00 00:00:00

In [4]:
df.shape

(488, 204)

In [5]:
df[df.v_300 != 'English'].shape

(218, 204)

In [44]:
relevant_column_names = ['lfdn'] + list(df.columns.values[7:-31])
relevant_column_names

['lfdn',
 'v_300',
 'v_23',
 'v_3',
 'v_1',
 'v_2',
 'v_4',
 'v_5',
 'v_6',
 'v_7',
 'v_8',
 'v_9',
 'v_10',
 'v_11',
 'v_12',
 'v_13',
 'v_14',
 'v_15',
 'v_16',
 'v_17',
 'v_18',
 'v_19',
 'v_20',
 'v_21',
 'v_22',
 'v_24',
 'v_25',
 'v_26',
 'v_27',
 'v_28',
 'v_29',
 'v_34',
 'v_35',
 'v_36',
 'v_37',
 'v_38',
 'v_39',
 'v_40',
 'v_41',
 'v_42',
 'v_43',
 'v_44',
 'v_47',
 'v_45',
 'v_46',
 'v_51',
 'v_52',
 'v_59',
 'v_60',
 'v_61',
 'v_62',
 'v_63',
 'v_64',
 'v_65',
 'v_66',
 'v_67',
 'v_76',
 'v_73',
 'v_79',
 'v_68',
 'v_70',
 'v_71',
 'v_74',
 'v_78',
 'v_77',
 'v_75',
 'v_69',
 'v_72',
 'v_80',
 'v_81',
 'v_87',
 'v_92',
 'v_88',
 'v_91',
 'v_83',
 'v_93',
 'v_89',
 'v_94',
 'v_90',
 'v_84',
 'v_86',
 'v_82',
 'v_85',
 'v_95',
 'v_96',
 'v_97',
 'v_98',
 'v_99',
 'v_100',
 'v_101',
 'v_102',
 'v_303',
 'v_103',
 'v_104',
 'v_105',
 'v_343',
 'v_344',
 'v_345',
 'v_346',
 'v_347',
 'v_348',
 'v_349',
 'v_350',
 'v_351',
 'v_110',
 'v_108',
 'v_106',
 'v_109',
 'v_107',
 'v_111',
 'v_112',
 'v_113',
 'v_158',
 'v_159',
 'v_160',
 'v_161',
 'v_162',
 'v_163',
 'v_164',
 'v_165',
 'v_166',
 'v_167',
 'v_168',
 'v_170',
 'v_171',
 'v_169',
 'v_172',
 'v_173',
 'v_174',
 'v_175',
 'v_176',
 'v_177',
 'v_178',
 'v_179',
 'v_180',
 'v_181',
 'v_182',
 'v_183',
 'v_184',
 'v_185',
 'v_186',
 'v_187',
 'v_188',
 'v_189',
 'v_190',
 'v_191',
 'v_192',
 'v_193',
 'v_246',
 'v_248',
 'v_250',
 'v_252',
 'v_254',
 'v_277',
 'v_278',
 'v_279',
 'v_280',
 'v_281',
 'v_282',
 'v_283',
 'v_284',
 'v_285',
 'v_286',
 'v_194',
 'v_297',
 'v_298',
 'v_299']

Cleaning the Spanish Translation DF

In [12]:
spanish_raw = pd.read_csv('../data/raw/data_project_400193_2018_02_05_SpanishEntriesForTranslation.csv', sep=';')
spanish_raw.head(2)

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,rts2401918,rts2403254,rts2403284,rts2404981,rts2404996,rts2405011,rts2405407,rts2406406,rts2406658,rts2420013
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please select the language,In which country are you personally located?,How many people are involved inÂ yourÂ project?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,number,external lfdn,tester,disposition code,last page,quality,time to complete survey,Language Selection,Country Selection,Team Size,...,relative timestamp for page 2401918,relative timestamp for page 2403254,relative timestamp for page 2403284,relative timestamp for page 2404981,relative timestamp for page 2404996,relative timestamp for page 2405011,relative timestamp for page 2405407,relative timestamp for page 2406406,relative timestamp for page 2406658,relative timestamp for page 2420013

In [8]:
spanish_raw.shape

(999, 264)

In [9]:
spanish_raw.columns.values

array(['lfdn', 'external_lfdn', 'tester', 'dispcode', 'lastpage',
       'quality', 'duration', 'v_300', 'v_23', 'v_3', 'v_1', 'v_2',
       'Unnamed: 12', 'v_4', 'v_5', 'Unnamed: 15', 'v_6', 'v_7', 'v_8',
       'v_9', 'v_10', 'v_11', 'v_12', 'v_13', 'v_14', 'v_15', 'v_16',
       'v_17', 'v_18', 'Unnamed: 29', 'v_19', 'v_20', 'Unnamed: 32',
       'v_21', 'v_22', 'Unnamed: 35', 'v_24', 'v_25', 'v_26',
       'Unnamed: 39', 'v_27', 'Unnamed: 41', 'v_28', 'v_29', 'v_34',
       'v_35', 'Unnamed: 46', 'v_36', 'v_37', 'v_38', 'v_39', 'v_40',
       'v_41', 'v_42', 'v_43', 'v_44', 'v_47', 'v_45', 'v_46',
       'Unnamed: 59', 'v_51', 'v_52', 'Unnamed: 62', 'v_59', 'v_60',
       'Unnamed: 65', 'v_61', 'v_62', 'v_63', 'v_64', 'v_65', 'v_66',
       'v_67', 'Unnamed: 73', 'v_76', 'v_73', 'v_79', 'v_68', 'v_70',
       'v_71', 'v_74', 'v_78', 'v_77', 'v_75', 'v_69', 'v_72', 'v_80',
       'v_81', 'Unnamed: 88', 'v_87', 'v_92', 'v_88', 'v_91', 'v_83',
       'v_93', 'v_89', 'v_94', 'v_90', 'v_84', 'v_86', 'v_82', 'v_85',
       'v_95', 'v_96', 'Unnamed: 104', 'v_97', 'v_98', 'v_99', 'v_100',
       'v_101', 'v_102', 'v_303', 'v_103', 'v_104', 'v_105', 'v_343',
       'Unnamed: 116', 'v_344', 'Unnamed: 118', 'v_345', 'Unnamed: 120',
       'v_346', 'Unnamed: 122', 'v_347', 'Unnamed: 124', 'v_348',
       'Unnamed: 126', 'v_349', 'Unnamed: 128', 'v_350', 'Unnamed: 130',
       'v_351', 'Unnamed: 132', 'v_110', 'v_108', 'v_106', 'v_109',
       'v_107', 'v_111', 'v_112', 'v_113', 'Unnamed: 141', 'v_158',
       'v_159', 'v_160', 'v_161', 'v_162', 'v_163', 'v_164',
       'Unnamed: 149', 'v_165', 'v_166', 'Unnamed: 152', 'v_167', 'v_168',
       'Unnamed: 155', 'v_170', 'Unnamed: 157', 'v_171', 'Unnamed: 159',
       'v_169', 'Unnamed: 161', 'v_172', 'Unnamed: 163', 'v_173',
       'Unnamed: 165', 'v_174', 'v_175', 'v_176', 'v_177', 'v_178',
       'v_179', 'v_180', 'v_181', 'v_182', 'v_183', 'v_184', 'v_185',
       'v_186', 'v_187', 'v_188', 'v_189', 'v_190', 'v_191', 'v_192',
       'v_193', 'v_246', 'v_248', 'v_250', 'v_252', 'v_254', 'v_277',
       'Unnamed: 192', 'v_278', 'Unnamed: 194', 'v_279', 'Unnamed: 196',
       'v_280', 'Unnamed: 198', 'v_281', 'Unnamed: 200', 'v_282',
       'Unnamed: 202', 'v_283', 'Unnamed: 204', 'v_284', 'Unnamed: 206',
       'v_285', 'Unnamed: 208', 'v_286', 'Unnamed: 210', 'v_194',
       'Unnamed: 212', 'v_297', 'Unnamed: 214', 'v_299', 'browser',
       'referer', 'device_type', 'participant_browser',
       'participant_browser_version', 'participant_os',
       'participant_device', 'participant_brand', 'participant_model',
       'participant_isbot', 'participant_continent',
       'participant_country', 'participant_region', 'participant_city',
       'participant_latitude', 'participant_longitude', 'quota',
       'quota_assignment', 'page_history', 'hflip', 'vflip',
       'output_mode', 'javascript', 'flash', 'session_id', 'language',
       'cleaned', 'ats', 'datetime', 'date_of_last_access',
       'date_of_first_mail', 'rts2401449', 'rts2401450', 'rts2401451',
       'rts2401452', 'rts2401453', 'rts2401454', 'rts2401455',
       'rts2401918', 'rts2403254', 'rts2403284', 'rts2404981',
       'rts2404996', 'rts2405011', 'rts2405407', 'rts2406406',
       'rts2406658', 'rts2420013'], dtype=object)

In [13]:
spanishcols_old = list(spanish_raw.columns.values)
spanishcols_new = [x if 'Unnamed' not in str(x) else f'{spanishcols_old[idx-1]}_translation' 
                   for idx, x in enumerate(spanishcols_old)]

In [17]:
spanish = spanish_raw.rename({x[0]:x[1] for x in zip(spanishcols_old, spanishcols_new)}, axis=1).drop([0,1])#.dropna()

In [20]:
spanish = spanish[(spanish.dispcode != 'Suspended (22)') & (~spanish.lfdn.isna())]

In [21]:
spanish.head()

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,rts2401918,rts2403254,rts2403284,rts2404981,rts2404996,rts2405011,rts2405407,rts2406406,rts2406658,rts2420013
4,179,0,no tester,Completed (31),2401447,-77,1118,EspaÃ±ol,Ecuador,10,...,0,354,526,0,0,801,883,1059,1118,89
5,210,0,no tester,Completed (31),2401447,-77,812,EspaÃ±ol,Colombia,16,...,275,339,0,479,0,624,663,780,812,7
10,330,0,no tester,Completed (31),2401447,-77,1529,EspaÃ±ol,Spain,35,...,0,239,429,0,800,934,1020,1513,1529,11
12,334,0,no tester,Completed after break (32),2401447,-77,-1,EspaÃ±ol,Spain,1,...,0,9098,9448,0,0,9700,9761,9963,9976,87
15,341,0,no tester,Completed (31),2401447,-77,754,EspaÃ±ol,Spain,8,...,243,294,410,0,0,630,665,738,754,9

In [22]:
spanish.shape

(129, 264)

In [23]:
columns_with_translations_spanish = [x for x in spanish.columns.values if 'translation' in str(x)]

In [24]:
len(columns_with_translations_spanish)

44

Cleaning the Portuguese Translation DF

In [25]:
portuguese_raw = pd.read_csv('../data/raw/data_project_400193_2018_02_05_PortugueseEntriesForTranslation.csv', sep=';')
portuguese_raw.head(1)

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,rts2401918,rts2403254,rts2403284,rts2404981,rts2404996,rts2405011,rts2405407,rts2406406,rts2406658,rts2420013
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Please select the language,In which country are you personally located?,How many people are involved inÂ yourÂ project?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
portuguesecols_old = list(portuguese_raw.columns.values)
portuguesecols_new = [x if 'Unnamed' not in str(x) else f'{portuguesecols_old[idx-1]}_translation' 
                   for idx, x in enumerate(portuguesecols_old)]

In [27]:
portuguese = portuguese_raw.rename(
    {x[0]:x[1] for x in zip(portuguesecols_old, portuguesecols_new)}, axis=1).drop([0,1])#.dropna()
portuguese = portuguese[(portuguese.dispcode != 'Suspended (22)') & (~portuguese.lfdn.isna())]

In [28]:
portuguese.head()

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,rts2401918,rts2403254,rts2403284,rts2404981,rts2404996,rts2405011,rts2405407,rts2406406,rts2406658,rts2420013
9,523,0,no tester,Completed (31),2401447,-77,638,PortuguÃªs,Portugal,5,...,0,235,0,374,0,448,481,601,638,5
10,531,0,no tester,Completed (31),2401447,-77,1025,PortuguÃªs,Portugal,20,...,0,460,645,0,0,866,968,1005,1026,7
17,735,0,no tester,Completed (31),2401447,-77,1618,PortuguÃªs,Portugal,4,...,0,850,1066,0,0,1299,1391,1602,1618,176
19,809,0,no tester,Completed (31),2401447,-77,737,PortuguÃªs,Colombia,4,...,0,320,416,0,0,613,692,722,737,6
21,814,0,no tester,Completed (31),2401447,-77,1221,PortuguÃªs,Brazil,10,...,435,513,734,0,0,1006,1138,1197,1221,13

In [29]:
columns_with_translations_portuguese = [x for x in portuguese.columns.values if 'translation' in str(x)]

In [30]:
len(columns_with_translations_portuguese) # THANK GOD!!!

44

In [31]:
portuguese.shape

(89, 264)

In [36]:
spanish_and_portuguese = spanish[['lfdn']+columns_with_translations_spanish
                                ].append(portuguese[['lfdn']+columns_with_translations_portuguese])
spanish_and_portuguese['lfdn'] = [int(x) for x in spanish_and_portuguese['lfdn']]
assert spanish_and_portuguese.shape[0] == portuguese.shape[0] + spanish.shape[0]
assert spanish_and_portuguese.shape[0] == df[df.v_300 != 'English'].shape[0]

In [37]:
mergeddf = df.merge(spanish_and_portuguese, how='left').fillna('NotApplicable') # same as outer
mergeddf.head(2)

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,v_279_translation,v_280_translation,v_281_translation,v_282_translation,v_283_translation,v_284_translation,v_285_translation,v_286_translation,v_194_translation,v_297_translation
0,30,0,no tester,Completed after break (32),2401447,NotShown,-1,English,Japan,7,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
1,33,0,no tester,Completed (31),2401447,NotShown,429,English,Argentina,5,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable

In [38]:
mergeddf.shape # THANK GOD

(488, 248)

### Note
mergeddf still has magic numbers and is somewhat weird to handle.
Let's make it nice and lean and unmagic.

-66: NotShown

-99: NotAnswered

Plus, only interesting columns, please.

In [41]:
def kill_the_magic(mergeddf):
    newdf = mergeddf.replace({-66:'NotShown','-66':'NotShown',-99:'NotAnswered','-99':'NotAnswered'})
    return newdf

def integrate_translated_columns(mergeddf, varnames):
    newdf = pd.DataFrame(mergeddf, copy=True)
    for var in varnames:
        newdf[f'v_{var}'] = [mergeddf[f'v_{var}_translation'].values[x] 
             if mergeddf[f'v_{var}_translation'].values[x] != 'NotApplicable' else mergeddf[f'v_{var}'].values[x]
             for x in range(len(mergeddf))]
    return newdf

### This is not an ideal sort since it 'messes up' some of the disorganized 'order' in the survey variables...

In [42]:
mergeddf = kill_the_magic(mergeddf)
mergeddf.head()

,lfdn,external_lfdn,tester,dispcode,lastpage,quality,duration,v_300,v_23,v_3,...,v_279_translation,v_280_translation,v_281_translation,v_282_translation,v_283_translation,v_284_translation,v_285_translation,v_286_translation,v_194_translation,v_297_translation
0,30,0,no tester,Completed after break (32),2401447,NotShown,-1,English,Japan,7,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
1,33,0,no tester,Completed (31),2401447,NotShown,429,English,Argentina,5,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
2,35,0,no tester,Completed (31),2401447,NotShown,3662,English,Argentina,130,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
3,41,0,no tester,Completed (31),2401447,NotShown,1435,English,United States,4,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable
4,48,0,no tester,Completed (31),2401447,NotShown,1183,English,United States,25,...,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable,NotApplicable

In [75]:
#mergeddf.to_csv('../data/raw/napire_final_with_translations_full.csv', index=False)

In [45]:
mergeddf_lean = mergeddf[['lfdn']
        +sorted(relevant_column_names[1:]+columns_with_translations_spanish, key=lambda x:int(x.split('_')[1]))]

In [69]:
#mergeddf_lean.to_csv('../data/raw/napire_final_with_translations_separate_columns.csv', index=False)

In [46]:
mergeddf_integrated = integrate_translated_columns(mergeddf, 
                            [int(var.split('_')[1]) for var in columns_with_translations_spanish])
mergeddf_integrated = mergeddf_integrated[relevant_column_names]

In [47]:
mergeddf_integrated.shape

(488, 167)

In [ ]:
#mergeddf_integrated.to_csv('../data/raw/napire_final_integrated.csv', index=False)

In [103]:
truth = mergeddf_integrated.drop(['v_298', 'v_299'], axis=1)

In [104]:
truth = truth.replace('\S+@\S+', 'XXXXX', regex=True)

In [106]:
truth.to_csv('../data/napire_truth.csv', index=False, sep=';')

The End.